PORT=3000
GROQ_API_KEY=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
GEMINI_API_KEY=AIzaSyB0y61OenxTDBkPe0wyVcPh3tBv1iAd0Ds
JWT_SECRET=eE06Kw1NcinfpN5nGYgdcmmIMcjPOr/gfOA6z+0QOr8=
MONGODB_URI=mongodb+srv://mylearnp_db_user:luLwONrz3lJsVmmk@cluster0.zneaiyv.mongodb.net/ai-quiz-app?appName=Cluster0
AI_SERVICE_URL=http://localhost:8000